<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/plantilla :: head}">
    <title>Excalibur-Tech</title>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}" />



    <div class="content-container">
        <section>

            <p
                style="color: white; font-weight: bold; font-size: 25px; background-color: #2069AD; margin-top: 0; text-align: center; border-bottom: 1px solid black">
                <i class="fa-solid fa-thumbs-up fa-beat fa-sm" style="color: #ffffff;"></i> Casos de Éxito
            </p>
            <p class="espaciado-p">
                <i class="fa-solid fa-circle-check fa-3x" style="color: #edb718; vertical-align: middle;"></i>
                En <strong>Excalibur-Tech S.A.</strong>, nos enorgullece compartir los éxitos alcanzados junto a
                nuestros valiosos
                clientes. A lo largo de nuestra trayectoria,
                hemos tenido el privilegio de colaborar con diversas empresas, brindándoles soluciones personalizadas y
                llevando sus
                metas al siguiente nivel.

                Cada caso de éxito representa no solo un logro empresarial, sino también una historia de colaboración,
                innovación y
                resultados tangibles. Desde implementaciones tecnológicas hasta estrategias de crecimiento, nuestros
                servicios han
                sido
                la clave para transformar desafíos en oportunidades y metas en realidades.
            </p>
            <div class="row mb-3">
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/1.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/2.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/3.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/4.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/5.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/6.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/7.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/8.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/9.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/10.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/11.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/12.jpg}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/13.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/14.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <img th:src="@{/CasosExito/15.png}" class="card-img-top" alt="...">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <aside class="text-center">
            <!-- Contenido de la barra lateral izquierda -->
            <div class="card card-no-effect mb-1" style="width: 265; border:  transparent;">
                <p
                    style="color: white; font-weight: bold; font-size: 25px; background-color: #475152; margin-top: 0; text-align: center;">
                    <i class="fa-solid fa-location-dot fa-beat fa-sm" style="color: #ffffff;"></i> Encuentranos
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.493143790535!2d-84.14319946496333!3d9.976061027686155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb07759872f9%3A0x6ea635cbbf7e8f60!2sMulticomercial+Baden!5e0!3m2!1sen!2s!4v1489010248162"
                    width="340" height="250" frameborder="1" style="border:1px;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" class="d-block mx-auto"></iframe>
                <div class="card-body text-center" style="color: black;">
                    <p>Dirección: Multicomercial Badem, Heredia</p>
                    <a href="https://maps.app.goo.gl/7rQVKvmHe2rrWDg3A" class="btn btn-success" target="_blank">Abrir
                        Mapa</a>
                </div>
            </div>
            <div class="card card-no-effect mb-3 mx-auto" style="width: 265;  ">
                <div class="card-header" style="color: white; background: #475152; font-weight: bold; font-size: 25px;">
                    Accesos Rapidos
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa-solid fa-phone fa-lg" style="color: #2069ad;"></i>
                        2293-4504 / 2293- 3878
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-envelope fa-lg" style="color: #2069ad;"></i>
                        servicioalcliente@excalibur-tech.com
                    </li>
                    <li class="list-group-item card">
                        <a th:href="@{/tiketes/FormularioTiketes}" style="text-decoration: none; color: inherit;">
                            <i class="fa-solid fa-headset fa-lg" style="color: #2069ad;"></i>
                            Soporte
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>

    <style>
        .row.mb-3 .col-sm-6 {
            flex: 0 0 calc(33.333% - 16px);
            max-width: calc(25% - 16px);
            margin-left: 1%;
        }

        .espaciado-p {
            margin-bottom: 16px;
        }

        section {
            width: 70%;
            color: white;
            padding: 0px;
            color: #000000;
            text-align: center;
            margin-left: 4%;
        }

        /* Estilos para el aside */
        aside {
            position: sticky;
            top: 80px;
            width: 24%;
            background-color: #2069AD;
            color: white;
            padding: 10px;
            text-align: center;
            height: 90vh;
            overflow-y: auto;
            z-index: 1;
        }

        .content-container {
            display: flex;
            justify-content: space-between;
            padding: 0px;
            margin-top: 100px;
        }

        .card-hidden {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s, transform 0.5s;
        }

        .card-visible {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s, transform 0.5s, background-color 0.5s, box-shadow 0.5s;
        }

        .card-visible:hover {
            background-color: #edb718;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .card-no-effect {
            opacity: 1 !important;
            transform: scale(1) !important;
            transition: none !important;
            background-color: white !important;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var acceptButton = document.getElementById("acceptButton");
            var cookieAlert = document.querySelector(".alert");

            acceptButton.addEventListener("click", function () {
                // Establecer la cookie al hacer clic en ACEPTAR
                document.cookie = "cookies_accepted=true;";

                // Ocultar la alerta de cookies después de aceptar
                cookieAlert.style.display = "none";
            });

            // Verificar si el usuario ya ha aceptado las cookies
            if (document.cookie.split(';').some((item) => item.trim().startsWith('cookies_accepted='))) {
                // Si ya ha aceptado las cookies, ocultar la alerta
                cookieAlert.style.display = "none";
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            var cards = document.querySelectorAll(".card");

            // Agregar evento de desplazamiento
            window.addEventListener("scroll", function () {
                cards.forEach(function (card) {
                    // Verificar si la tarjeta está en la pantalla
                    if (isElementInViewport(card)) {
                        card.classList.add("card-visible");
                        card.classList.remove("card-hidden");
                    } else {
                        card.classList.add("card-hidden");
                        card.classList.remove("card-visible");
                    }
                });
            });

            // Función para verificar si un elemento está en la pantalla
            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            }
        });
    </script>
    <footer th:replace="~{layout/plantilla :: footer}" />
</body>

</html>