<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/plantilla :: head}">
    <title>Excalibur-Tech</title>
    <!-- ... (estiolo para no cargar el section de pnatilla) ... -->
    <style>
        #miSection {
            display: none;
        }
    </style>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}">
    </header>

    <div th:replace="~{layout/plantilla :: content-container}">
    </div>

    <footer th:replace="~{layout/plantilla :: footer}">
        
    </footer>

    <script>
        window.addEventListener('load', function () {
            var miSection = document.getElementById('miSection');
            if (miSection) {
                console.log('Script ejecutado correctamente.');
                miSection.innerHTML = `
                <!-- ... (titulo) ... -->
                <p
                style="color: white; font-weight: bold; font-size: 25px; background-color: #2069AD; margin-top: 0; text-align: center; border-bottom: 1px solid black">
                <i class="fa-solid fa-headset fa-sm" style="color: #ffffff;"></i> Contactenos / Enviar solicitud o comentarios
            </p>

                 <main class="h-0 gradient-form" >
            <div class="container py-5 h-0">
                <div class="row d-flex justify-content-center align-items-center h-0">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="card-body p-md-5 mx-md-4">
                                        <div class="text-center mb-2">
                                            <img src="/img/logo.svg" style="width: 240px;" alt="logo" />                                           
                                        </div>
                                        <form class="zoom-form">
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <input type="text" class="form-control" placeholder="Nombre" aria-label="*Nombre">
                                                </div>
                                                <div class="col mb-3">
                                                    <input type="text" class="form-control" placeholder="Apellidos" aria-label="*Apellidos">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="*Correo" aria-label="Correo">
                                                    <div id="emailHelp" class="form-text">No compartiremos su correo con terceros.</div>
                                            </div>

                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="*Teléfono">
                                            </div>

                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de la empresa">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">*Detalles</span>
                                                <textarea class="form-control" aria-label="With textarea"></textarea>
                                            </div>

                                            <div class="orm-check mb-3">
                                                <p class="small mb-0">Compos con * son obligatorios.</p>
                                            </div>


                                            <a th:href="@{/sesion/InicioSesion}" class="btn btn-primary custom-background">Regresar</a>
                                            <button type="submit" class="btn btn-primary custom-margin-left">Enviar</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-center gradient-custom-2">
                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4 text-center">
                                        <i class="fa-solid fa-bell-concierge fa-beat mb-3" style="color: #ffffff; font-size: 5em;"></i>
                                        <h2 class="mt-1 mb-5 pb-1">¡La solución a un clic!</h2>
                                        <h4 class="mb-4">Más que una compañia</h4>
                                        <p class="small mb-0">Somos un grupo dinámico con gran experiencia en el mercado del desarrollo de software empresarial aplicables al ámbito del ERP en áreas como Ruteo y Distribución, Financiero Contable, Importaciones, Manufactura y más.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
            `;
            } else {
                console.error('miSection" no encontrado.');
            }
            var popupLink = document.getElementById('popupLink');
            if (popupLink) {
                console.log('Script para el popup ejecutado correctamente.');

                popupLink.addEventListener('click', function (event) {
                    event.preventDefault();

                    var popup = document.createElement('div');
                    popup.className = 'popup';
                    popup.innerHTML = '<img src="' + popupLink.getAttribute('href') + '" alt="Popup Image" />';

                    document.body.appendChild(popup);

                    popup.addEventListener('click', function () {
                        document.body.removeChild(popup);
                    });
                });
            } else {
                console.error('Elemento con ID "popupLink" no encontrado.');
            }
        });
    </script>

    <!-- ... (Estilo para los grids) ... -->
    <style>
       .gradient-custom-2 {
                background: #fccb90;
                background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
                background: linear-gradient(to right, #1f66f2, #1943ae, #12338d, #0a246f);
            }

            @media (min-width: 768px) {
                .gradient-form {
                    height: 100vh !important;
                }
            }

            @media (min-width: 769px) {
                .gradient-custom-2 {
                    border-top-right-radius: .3rem;
                    border-bottom-right-radius: .5rem;
                }
            }
            

    </style>

</body>

</html>